/*
* CSS Theme for i3 Cleantech Investments Data Visualizations
* Author: Shannon Tsaltas
* Date: June, 2015
* Version: 2.0
*/

/* Green color scheme
* #a6d96a
* #66bd63
* #D9EDF7
* #ccece6
* #e6f5d0
* #b8e186
* #7fbc41
* #99d8c9
* #41ae76
* #238b45
* #78c679
* #41ab5d
* #4eb953
*/

/* Main styles */
body {
  min-height: 2000px;
  padding-top: 35px;
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.container {
  background-color: #022a3a;
}

.title {
  padding: 0px;
  padding-top: 35px;
  margin: 0px;
  font-size: 28pt;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
}

.charts {
  padding: 100px;
  padding-top: 35px;
}

.get-demo {
  background-color: #f3f3f3;
  padding: 25px 0px;
  color: #022a3a;
  font-weight: bold;
}

.extra-pad {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.bottom-pad {
  padding-bottom: 25px;
}

.no-pad {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

/* Centering & alignment */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pie-charts {
  width: 690px;
}
.line-charts {
  width: 700px;
}
.row-chart {
  width: 350px;
}
.pie-chart {
  width: 325px;
}
.bubble-chart {
  width: 760px;
}

.right {
  float: right !important;
}

/* hyperlink styles */
a:link, a:visited, a:hover, a:active {
  color: #ff671b;
}

/* Heading styles */
.section-title {
  padding: 15px;
  margin: 0px;
  font-size: 14pt;
  line-height: 120%;
  font-weight: 600;
  color: #ff671b;
}

/* Chart styles */

/* Chart titles */
.chart-title {
  font-size: 10pt;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: thin solid;
}

/* Chart text */
.dc-chart text {
  fill: #fff;
  font-size: 8pt;
  line-height: 120%;
  font-weight: 400;
}

.dc-chart .axis line {
  fill: #fff;
  stroke: #fff;
}

.dc-chart .axis path {
  stroke: none;
}

/* Maxe axis labels line up with end of axes */
#quarterly-volume .y-axis-label {
  text-anchor: end;
  line-height: 1;
  transform: translate(12px, 100px) rotate(270deg);
}

#quarterly-dollars .y-axis-label {
  text-anchor: end;
  line-height: 1;
  transform: translate(12px, 130px) rotate(270deg);
}

#sector-bubble-chart .y-axis-label {
  text-anchor: end;
  line-height: 1;
  transform: translate(12px, 137px) rotate(270deg);
}

#stage-bubble-chart .y-axis-label {
  text-anchor: end;
  line-height: 1;
  transform: translate(12px, 140px) rotate(270deg);
}

/* Bubble, line, row chart opacity = 80% */
.dc-chart .bubble {
  fill-opacity: 0.8;
}
.dc-chart path.area {
  fill-opacity: 0.8;
}
.dc-chart g.row rect {
  fill-opacity: 0.8;
}

/* Line chart stroke (top of chart) color = white */
.dc-chart path.line {
  stroke: #fff;
  stroke-width: 2px;
}

/* Fix to make sure "seed" label shows up */
#stage-bubble-chart .node text{
  opacity: 1;
}

/* Dark blue text labels for white "slices" on pie charts
Other text labels will default to white */

#corporates ._0 {
  fill: #022a3a;
}
#quarter-volume ._0 {
  fill: #022a3a;
}
#stage ._0 {
  fill: #022a3a;
}

/* Tooltip styles */
.d3-tip {
  background-color: #f3f3f3;
  color: #022a3a;
  border-radius: 5px;
  padding: 5px;
}
